/* .box1{
    width: 530px;
    height: 625px;
    background-image: url('logo.png');
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s
    }
.box1:after{
    content: 'Kom ons kyk wat gaan gebeur';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url('logo2.png');
    left: 0px;
    z-index: -1;
    } 
    
.body{
    margin: 0px;
    background-color: aqua;
}
.box2{
    width: 250px;
    height: 250px;
    animation: ;
} */

/* @keyframes anim{
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
} */
.parent{
    background-color: hsla(200,100%,20%);
    height: 100vh;
    width: 100vw;
    margin: 0%;
    
}
.child{
    background-color: red;
    height: 50%;
    width: 50%;
    animation: bottom-top 2s;
}

.position{
    justify-content: center;
}
/* .parent:hover .child{
    transform: translateX(100%);
} */
@keyframes bottom-top{
    100%{
        transform: translateY(-100%);
    }
    0%{
        transform: translateY(0);
    }
}